.column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-cards{
  padding: 20px;
}

.input-search{
  padding: 20px;
  display: flex;
  justify-content: end;
}

.input-text {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin-right: 20px;
}
